<div class="container-fluid">
	<div class="col-md-6 col-md-offset-3">
	<h1 style="text-align: center; padding-top:15%; line-height: 1.5">Don't laugh just yet; if you follow either of the links below you would actually know more about Benjamin.</h1>
		<center>
		<div style="padding-top:40px;">
          <span class="fa-stack fa-lg">
            <a href="https://twitter.com/iam_benjaminD"><i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-lg">
            <a href="https://ng.linkedin.com/in/benjamindada"><i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
            </a>
          </span>
            <span class="fa-stack fa-lg">
              <a href="https://github.com/Benjamin-Dada"><i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
              </a>
            </span>
          </div>
          </center>
          <h1 style="text-align: center; padding-top:10%; line-height: 1.5;">Thanks for visiting my site. More content coming soon...</h1>
	</div>
</div>