<!--about the site-->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="site">
	<h1>
		Why this section?
	</h1>
	<p>One of my motivations for building this SPA is to encourage young students to take on development as a hobby.</p>
	<p> This Personal Website is a pretty simple project, but then you would need to take note of the ffg:</p><br/>
	<ul>
		<li>
			The Stack Used
		</li>
		<li>
			Programming concepts applied
		</li>
		<li>
			Other little details
		</li>
	</ul>
	</div>
	</div>
 </div>
</div>