	[<div class="container-fluid" style="padding-top:90px;">
	<!--div class="jumbotron"-->
	<div class="row">
   <div class="col-xs-offset-3 col-sm-12 col-sm-offset-3 col-md-3 col-md-offset-0">
     <img src="images/professional.jpg" alt="BD" class="img-responsive img-circle">
     <br>
     <p><small><strong>Student | Business Developer</strong></small></p>
     <p>
       <span class="fa-stack fa-lg">
        <a href="https://ng.linkedin.com/in/benjamindada"><i class="fa fa-square-o fa-stack-2x"></i>
         <i class="fa fa-linkedin fa-stack-1x"></i>
       </a>
     </span>
     <span class="fa-stack fa-lg">
      <a href="https://twitter.com/dadaben_"><i class="fa fa-square-o fa-stack-2x"></i>
       <i class="fa fa-twitter fa-stack-1x"></i>
     </a>
   </span>
   <span class="fa-stack fa-lg">
    <a href="https://github.com/Benjamin-Dada"><i class="fa fa-square-o fa-stack-2x"></i>
     <i class="fa fa-github fa-stack-1x"></i>
   </a>
 </span>
</p>
<!--a href="https://ng.linkedin.com/in/benjamindada" class="btn btn-primary">Learn more</a-->
</div>

<div class="col-xs-offset-2 col-sm-12 col-md-6 col-md-offset-0">
	<!--center text-->
	<!--div class="jumbotron"-->
	<article>
   <!-- Thanks for visiting <a href="http://benjamindada.com">my website</a>.<br/-->
   Hi, my name is Benjamin.<br/><br/>
   <p>
    I run a very active and up-to-date <a href="https://ng.linkedin.com/in/benjamindada">LinkedIn Profile</a>.<br/><br/>
    I occassionally tweet and RT things related to programming, learning to code, weird and interestings facts, companies and organizations I follow/support on LinkedIn and any other thing I find interesting.<br><br/>
    I have a passion for Software Development even as I always look forward to an opportunity to teach it.<br><br/>
    I am a career-oriented person, this has shown in the 500+ connections I have on LinkedIn, the 3 companies I have worked with even while being an undergraduate.<br><br/>
    I am a believer in the future of the workplace.<br><br/>
    One <i style="color: #f00;">weird</i> fact about me is that I have striking similarities with the late <a href="https://en.wikipedia.org/wiki/Nnamdi_Azikiwe">Nnamdi Azikiwe</a>. They include the fact that:
    <ul>
     <li>he died the year I was born</li>
     <li>we were born on the same day</li>
     <li>we were born in the same month and</li>
     <li>we share the name Benjamin</li>
   </ul>
 </p>
 <br/>
 <p>
  Other interesting facts about me:
  <ul>
   <li>Currently, in the top 5% of my <a href="http://covenantuniversity.edu.ng/Colleges/CST/SNAS/Computer-Information-Sciences/Management-and-Information-Science">course</a> at <a href="http://www.covenantuniversity.edu.ng">school</a></li>
   <li>I played football for my house in High School</li>
   <li>I had been in the choir since age 8</li>
   <li>I am a huge fan of the USA TV Series <a href="https://en.wikipedia.org/wiki/Suits_(TV_series)">SUITS</a><small> (I look forward to being the Mike Ross to a Harvey Specter &#x263B;)</small></li>
   <li>Proud supporter of the great football Legend, <a href="https://en.wikipedia.org/wiki/Lionel_Messi">Messi</a></li>
 </ul>
</p>
</article>

</div>

<div class="col-xs-offset-3 col-sm-12 col-md-3 col-md-offset-0 col-lg-3" id="twitterFeed">
	<a class="twitter-timeline" href="https://twitter.com/dadaben_" data-widget-id="629612130162114560">Tweets by @dadaben_</a>
</div>

</div>
<!--/div-->
</div>
