<div class="container-fluid" style="padding-top:20px;">
	<!--div class="jumbotron"-->
	<div class="row">
		<div class="col-xs-offset-3 col-sm-12 col-sm-offset-3 col-md-3 col-md-offset-0">
			<img src="images/professional.jpg" alt="BD" class="img-responsive img-circle">
			<br/>
			<p>
				<span class="fa-stack fa-lg">
					<a href="https://ng.linkedin.com/in/benjamindada"><i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-linkedin fa-stack-1x"></i>
					</a>
				</span>
				<span class="fa-stack fa-lg">
					<a href="https://twitter.com/iam_benjaminD"><i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x"></i>
					</a>
				</span>

				<span class="fa-stack fa-lg">
					<a href="https://github.com/Benjamin-Dada"><i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-github fa-stack-1x"></i>
					</a>
				</span>
			</p>
			<!--a href="https://ng.linkedin.com/in/benjamindada" class="btn btn-primary">Learn more</a-->
		</div>

		<div class="col-sm-12 col-md-6">
			<!--center text-->
			<!--div class="jumbotron"-->
			<article>
				<!-- Thanks for visiting <a href="http://benjamindada.com">my website</a>.<br/-->
				Hi, my name is Benjamin.<br/>
				<br/>
				Some more facts about me: <br/><br/>
				<ul>
					<li>Currently, in the top 5% of my course at <a href="http://www.covenantuniversity.edu.ng">school</a>.</li><br/>
					<li>I have about 500+ connections on <a href="https://ng.linkedin.com/in/benjamindada">LinkedIn</a>.</li><br/>
					<li>I have worked for interesting companies such as <a href="http://www.andela.com">Andela</a>, <a href="http://www.softcom.ng">Softcom</a>, <a href="http://www.kpmg.com/ng">KPMG</a>.</li><br/> 
					<li>I played football for my House in High School.</li><br/>
					<li>I had been in the choir since I was 8 years old.</li>
				</ul>
				I am interested in start-ups, large corporations and Technology and business development roles.

			</article>

		</div>

		<div class="col-sm-12 col-md-3 col-lg-3">
			<a class="twitter-timeline" href="https://twitter.com/iam_benjaminD" data-widget-id="629612130162114560">Tweets by @iam_benjaminD</a>
		</div>

	</div>
	<!--/div-->
</div>

