<div class="container" style="padding-top:70px;">

	<div class="row"> 
		<div class="col-lg-12">
			<h1 class="page-header">
				Pictures
			</h1>
		</div>
		
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648835/gallery/Andela_Benjamin.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648818/gallery/Arogs_Benjamin.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648838/gallery/My_last_Birthday.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648817/gallery/Creative_photographer.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648818/gallery/Dinner_MIS.jpg" class="img-responsive">
			</a>
		</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648817/gallery/fighting_for_Bae.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648819/gallery/Got_cliqqed_AtCongress.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648818/gallery/Bukis_Bday.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648820/gallery/Immediate_Family.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648830/gallery/me_and_Daniel_at_diner.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648836/gallery/me_SteveCase.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648835/gallery/me_Stutern_twins.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648866/gallery/Me_with_P31_ladies.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648837/gallery/MIS_Boiz.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648824/gallery/Me_Congress.jpg" class="img-responsive">
			</a>
		</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648843/gallery/Pose_with_CLIQ.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648839/gallery/Safetravels_Benjamin.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648840/gallery/Success_Congress_Family.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648854/gallery/Tech.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467648865/gallery/Twitter_is_my_House.jpg" class="img-responsive">
			</a>
		</div>

	</div>
	
</div>