<div class="container" style="padding-top:70px;">

	<div class="row"> 
		<div class="col-lg-12">
			<h1 class="page-header">
				Projects Done
			</h1>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="http://www.benjamindada.com/" class="thumbnail">
				<img src="/img/DadaBen.png" class="img-responsive" alt="Congress">
			</a>
			<small>My Personal Website</small> 
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="https://project-emr.herokuapp.com/" class="thumbnail">
				<img src="/img/EMR-App.png" class="img-responsive">
			</a>
			<small>My Final Year Project</small>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="https://wehustleng.herokuapp.com/" class="thumbnail">
				<img src="/img/Wehustleng.png" class="img-responsive">
			</a>
			<small>Something I am working on</small>
		</div>
		<!-- <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/Andela_Benjamin.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/Immediate_Family.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/Me_Congress.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/fighting_for_Bae.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/me_Stutern_twins.jpg" class="img-responsive">
			</a>
		</div> -->

	</div>
	

</div>