<div class="container" style="padding-top:70px;">

	<div class="row"> 
		<div class="col-lg-12">
			<h1 class="page-header">
				Pictures
			</h1>
		</div>
		
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Andela_Benjamin.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Arogs_Benjamin.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/My_last_Birthday.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Creative_photographer.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Dinner_MIS.jpg" class="img-responsive">
			</a>
		</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/fighting_for_Bae.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Got_cliqqed_AtCongress.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Bukis_Bday.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Immediate_Family.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/me_and_Daniel_at_diner.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/me_SteveCase.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/me_Stutern_twins.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Me_with_P31_ladies.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/MIS_Boiz.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Me_Congress.jpg" class="img-responsive">
			</a>
		</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Pose_with_CLIQ.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Safetravels_Benjamin.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Speaking_at_congress.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Success_Congress_Family.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Tech+.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/gallery/Twitter_is_my_House.jpg" class="img-responsive">
			</a>
		</div>

	</div>
	

</div>