<div class="container" style="padding-top:70px;">

	<div class="row"> 
		<div class="col-lg-12">
			<h1 class="page-header">
				Projects Done
			</h1>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 thumb">
			<small>My Personal Website</small> 
			<a href="http://www.benjamindada.com/" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467647038/DadaBen_hyps1r.png" class="img-responsive" alt="Personal_Website">
			</a>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 thumb">
			<small>My Final Year Project</small>
			<a href="https://project-emr.herokuapp.com/" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467647044/EMR-App_ppvevz.png" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 thumb">
			<small>Something I am working on</small>
			<a href="https://wehustleng.herokuapp.com/" class="thumbnail">
				<img src="http://res.cloudinary.com/dgpjdyg8p/image/upload/v1467647039/Wehustleng_a3gvhv.png" class="img-responsive">
			</a>
		</div>
		<!-- <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/Andela_Benjamin.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/Immediate_Family.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/Me_Congress.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/fighting_for_Bae.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#" class="thumbnail">
				<img src="/img/me_Stutern_twins.jpg" class="img-responsive">
			</a>
		</div> -->

	</div>
	

</div>
